header{
  position: fixed;
}
nav{
  padding: 2%;
  background-color: #2C3E50;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #18BC9C;
}

#portada{
  background-color: #18BC9C;
}

hr{
  max-width: 250px;
  border: none;
  border-top: 5px solid;
}

hr.star:after{
  content: "\f005";
  font-family: FontAwesome;
  font-size: 30px;
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 5px;
  background-color: #18BC9C;
}

.fondoW{
  background-color: white;
}

.imgPort{
  width: 100%;
  padding: 8%;
}
