header{
  position: fixed;
}
nav{
  padding: 2%;
  background-color: #2C3E50;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #18BC9C;
}

.fondoV{
  background-color: #18BC9C;
}

.fondoW{
  background-color: white;
}

p{
  text-align: left;
}

.fS-20{
  font-size: 20px;
}

hr{
  max-width: 250px;
  border: none;
  border-top: 5px solid;
}

hr.star:after{
  content: "\f005";
  font-family: FontAwesome;
  font-size: 30px;
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 5px;
  background-color: #18BC9C;
}

.imgPort{
  width: 100%;
  padding: 8%;
}

.btnV{
  color: white;
  padding: 6%;
  border: 2px solid white;
  border-radius: 10px;
}

button.btnV:before{
  content: "\f019";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
}
